//  NOTE: このファイルには全てのページで共通のスタイルを記載します
//        責務が曖昧になりやすいファイルなので、あまり積極的にこのファイルに記載するべきではないです
//        ここに記載しようか悩んだら、一度チームで話をしてみましょう！
//        もっと良い場所が見つかるかもしれません。
*,
*::before,
*::after {
  box-sizing: border-box;
}

//  これがないと、ページの右端に余白ができることがあった
body {
  min-width: 100vw;
}

//  これがないと、フッターが下部に固定されないことがあった
main {
  flex: 1;
  min-width: 100vw;
}